<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://jatim.bawaslu.go.id">
                        <img src="img/logos/bawaslu-jatim.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://malang.bawaslu.go.id">
                        <img src="img/logos/bawaslu-malang.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://spcmalang.net">
                        <img src="img/logos/spcmalang.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://horegpapua.com">
                        <img src="img/logos/hpc.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://horegwamena.com">
                        <img src="img/logos/hwc.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>